.main-header {
  padding-bottom: 50px;
}
.nav-main .nav-link {
  border-bottom: 3px solid transparent;
  color: lightgray;
}
.nav-main .nav-link:hover {
  border-bottom: 3px solid grey;
}

.nav-main .active {
  /*.active, :active .a .active don't work!
  : active would change the font color only when I click the nav bar.*/
  border-bottom: 3px solid lightsalmon;
  color: salmon;
}
