body {
  background-color: #333;
  color: white;
  box-shadow: 0 0 10rem black inset;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.main-intro {
  text-align: center;
}

.lead {
  color: whitesmoke;
}
.main-header {
  padding-bottom: 50px;
}
.nav-main .nav-link {
  border-bottom: 3px solid transparent;
  color: gray;
}
.nav-main .nav-link:hover {
  border-bottom: 3px solid grey;
}

.nav-main .active {
  /*colors considering : tomato, salmon*/
  border-bottom: 3px solid white;
  color: white;
}
